{% extends 'layout.twig' %}
{% block content %}
    <div class="container">

        {% if error is defined %}
          <h1 class="text-center">{{ error }}</h1>
          <div class="text-center">
              <a href="/" class="button-medium">Return</a><br>
          </div>
        {% else %}
            <h1 class="text-center">{{ hotel.name }}</h1>
            <div class="row">
                <div class="col-xs-12">
                    <div class="swiper-container text-center">
                        <div class="swiper-wrapper">
                            {% for image in images %}
                                <div class="swiper-slide"><img src="{{ image }}" alt="{{ hotel.name }}"></div>
                            {% endfor %}
                        </div>

                        <div class="swiper-pagination"></div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="col-xs-12 mt-10">
                    {{ desc|raw  }}
                </div>
                <div class="col-xs-12">
                    <h2 class="text-center">Rooms</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for room in rooms %}
                            <tr>
                                <td>{{ room.name }}</td>
                                <td>${{ room.price }}</td>
                                <td>{{ room.desc }}</td>
                                <td><a href="/card.html?hotel_id={{ room.hotel_id }}&room_id={{ room.room_id }}" class="button-medium">Reserve</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}


