{% block content %}
    <!DOCTYPE html>
    <html lang="en" class=" js no-touch">
    <head>
        <title>Boocking Service | the best service hotels in the world</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/slick-team-slider.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <!--HEADER START-->
        <div class="main-navigation navbar-fixed-top">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">boocking Service</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#banner">Home</a></li>
                            <li><a href="#service">Service</a></li>
                            <li><a href="#hotels">Our hotels</a></li>
                            <li><a href="#about">Testimonials</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--HEADER END-->

        <!--BANNER START-->
        <div id="banner" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="jumbotron">
                        <video autoplay loop muted class="bgvideo" id="bgvideo">
                            <source src="My-Movie-1.mp4" type="video/mp4"></source>
                        </video>
                        <h1 class="small">Welcome To <span class="bold">boocking Service</span></h1>
                        <p class="big">Say “Hello” for comfort!</p>
                    </div>
                </div>
            </div>
        </div>
        <!--BANNER END-->

        <!--CTA1 START-->
        <div class="cta-1">
            <div class="container">
                <div class="row text-center white">
                    <h1 class="cta-title">Best hotels are waiting for you right now!</h1>
                </div>
            </div>
        </div>
        <!--CTA1 END-->

        <!--SERVICE START-->
        <div id="service" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="page-title text-center">
                        <h1>Our Service</h1>
                        <p>We provide the best boocking service in the world. <br>Every hotel in every country is available for you in a couple of minutes</p>
                        <hr class="pg-titl-bdr-btm"></hr>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-icon"><i class="fa fa-fighter-jet"></i></div>
                            <div class="service-text">
                                <h3>Fast</h3>
                                <p> You need just to choose your country or city – we will offer you the best variants with free rooms. Every your wishes and demands will be realized. Easy and quick application form helps to save your time </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-icon"><i class="fa fa-etsy"></i></div>
                            <div class="service-text">
                                <h3>Easy</h3>
                                <p>The high level of usability helps everybody to understand the process. No long choosing, we will do everything instead of you. Just tell us what you need – in a few minutes you will get it </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-box">
                            <div class="service-icon"><i class="fa fa-child"></i></div>
                            <div class="service-text">
                                <h3>Сomfortably</h3>
                                <p>We created the best boocking base that you can use everywhere and round the clock. No travel companies, documents and wasting time – your perfect room in good hotel waits for you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--SERVICE END-->

    <!--PORTFOLIO START-->
    <div id="hotels" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="page-title text-center">
                    <h1>Our hotels</h1>
                    <p>We check the every hotel in every country and choose only the best. Here you will have good rest in a quiet place and perfect stuff. <br> If you have some special demands – we will fulfill it completely</p>
                    <hr class="pg-titl-bdr-btm"></hr>
                </div>
                <div class="port-sec">

                    <div class="col-md-12 fil-btn text-center">
                        <div class="filter wrk-title active" data-filter="all">Show All</div>
                        {% for counsry in counsrys %}
                            <div class="filter wrk-title" data-filter=".category-{{ counsry.country_id|e }}">{{ counsry.name|e }}</div>
                        {% endfor %}
                    </div>

                    <div id="Container">

                        {% for hotel in hotels %}
                            <div class="filimg mix category-{{ hotel.country_id|e }} col-md-4 col-sm-4 col-xs-12 " data-myorder="4">
                                <a href="/hotel.html?hotel_id={{ hotel.hotel_id|e }}">
                                    <img src="{{ hotel.main_photo|e }}" class="img-responsive img-responsive-hotels">
                                    <div class="hover">
                                        <p>{{ hotel.name|e }}</p>
                                        <p>${{ hotel.min_price|e }} - ${{ hotel.max_price|e }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--PORTFOLIO END-->

    <!--TEAM START-->
    <div id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="page-title text-center">
                    <h1>Testimonials</h1>
                    <p>We do everything for your comfortable living in foreign country. Here’s some feedbacks from our customers.</p>
                    <hr class="pg-titl-bdr-btm"></hr>
                </div>
                <div class="autoplay">

                    {% for testimonial in testimonials %}
                        <div class="col-md-6">
                            <div class="team-info">
                                <div class="img-sec">
                                    <img src="{{ testimonial.photo|e }}" class="img-responsive">
                                </div>
                                <div class="fig-caption">
                                    <h3>{{ testimonial.name|e }}</h3>
                                    <p class="marb-20">{{ testimonial.comment|e }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!--TEAM END-->

    <!--CTA2 START-->
    <div class="cta2">
        <div class="container">
            <div class="row white text-cente">
                <h3 class="cta-title">“To awaken alone in a strange town is one of the pleasantest sensations in the world.” – Freya Stark</h3>
            </div>
        </div>
    </div>
    <!--CTA2 END-->

    <!--CONTACT START-->
    <div id="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="page-title text-center">
                    <h1>Quick Contact</h1>
                    <p>Please contact us if you have any questions</p>
                    <hr class="pg-titl-bdr-btm"></hr>
                </div>
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="form-sec">
                    <form action="/ajaxmail.html" method="post" role="form" class="contactForm" id="contactForm">
                        <div class="col-md-4 form-group">
                            <input type="text" name="name" class="form-control text-field-box" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation validation-name"></div>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="email" class="form-control text-field-box" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation validation-email"></div>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="text" class="form-control text-field-box" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation validation-subject"></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea class="form-control text-field-box" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" id="message"></textarea>
                            <div class="validation validation-message"></div>

                            <button class="button-medium" id="contact-submit" type="submit" name="contact">Submit Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--CONTACT END-->
    <div class="footer-bottom">
        <div class="container">
            <div style="visibility: visible; animation-name: zoomIn;" class="col-md-12 text-center wow zoomIn">
                <div class="footer_copyright">
                    <p> © Copyright, All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mixitup.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>


    <script type="text/javascript">

        $("#contact-submit").on('click',function(e) {

            e.preventDefault();

            $('#errormessage').hide();
            $('.validation').hide();

            var name = $('#name').val();
            var email = $('#email').val();
            var subject = $('#subject').val();
            var message = $('#message').val();
            var error = false;

            if (name == '' || name.length < 2 ) {
                $('#errormessage').show().html('Check that the form is completed correctly');
                error = true;
                $('.validation-name').show().html('The name must be longer than 2 letters');
            }

            var pattern = /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i;

            if (email == '' || email.search(pattern) ) {
                $('#errormessage').show().html('Check that the form is completed correctly');
                error = true;
                $('.validation-email').show().html('Email entered incorrectly');
            }

            if (subject == '' || subject.length < 10 ) {
                $('#errormessage').show().html('Check that the form is completed correctly');
                error = true;
                $('.validation-subject').show().html('The subject must be longer than 10 letters');
            }

            if (subject == '') {
                $('#errormessage').show().html('Check that the form is completed correctly');
                error = true;
                $('.validation-message').show().html('Message can not be empty');
            }

            if(error === false){
                $.ajax({
                    type: "POST",
                    url: "/ajaxmail.html",
                    data: {'name':name,'email':email,'subject':subject,'message':message},
                    success: function (data) {

                        $('.form-sec').hide();
                        $('#sendmessage').show();
                    }
                });
            }
        });

    </script>

    </body>
    </html>
{% endblock %}
