
    <!DOCTYPE html>
    <html lang="en" class=" js no-touch">
    <head>
        <title>
            {% if title is not defined%}
                Boocking Service | the best service hotels in the world
            {% else %}
                {{ title }}
            {% endif %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/slick-team-slider.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
    <!--HEADER START-->
    <div class="main-navigation navbar-fixed-top">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">boocking Service</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/#banner">Home</a></li>
                        <li><a href="/#service">Service</a></li>
                        <li><a href="/#hotels">Our hotels</a></li>
                        <li><a href="/#about">Testimonials</a></li>
                        <li><a href="/#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--HEADER END-->

    <content class="content">
        <div class="content-block">
            {% block content %}{% endblock %}
        </div>
    </content>


    <div class="footer-bottom">
        <div class="container">
            <div style="visibility: visible; animation-name: zoomIn;" class="col-md-12 text-center wow zoomIn">
                <div class="footer_copyright">
                    <p> © Copyright, All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mixitup.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <link rel="stylesheet" href="css/swiper.css">
    <script src="js/swiper.min.js" type="text/javascript"></script>
    <script src="js/swiper.jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize swiper when document ready
            var mySwiper = new Swiper ('.swiper-container', {
                // Optional parameters
                direction: 'horizontal',
                loop: true,
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev'
            })
        });
    </script>

    </body>
    </html>
